<module>
	<name>users</name>
	<type>back-end</type>
	<actions>
	    <action  url="registration/confirm" method="confirm"/>
		<action  url="login"  method="login"/>
		<action  url="account" page="account"/>
		<action  url="account/lock" method="lockAccount"/>
		<action  url="account/unlock" method="unlockAccount"/>
		<action  url="password/change"  method="changePassword"/>
		<action  url="password/recover"  method="recoverPassword"/>
		<action  url="profile/update"  method="updateProfil"/>
		<action  url="collaborators/add"  method="addCollaborator"/>
		<action  url="collaborators/invite"  method="inviteCollaborator"/>
		<action  url="collaborators/remove"  method="removeCollaborator"/>
		<action  url="collaborators/info"  method="getCollaboratorInfo"/>
		<action  url="logout"  method="logout"/>
	</actions>
</module>